.header{
  background-color: brown;
  padding: 20px;
}
h1{
  color: white;
  text-align: center;
}
.section{
  background-color:goldenrod;
  padding: 80px;
}
nav{
  overflow: hidden;
  text-align: center;

}
nav a{
  float: center;
  color: green;
  padding: 10px 10px;
  text-decoration: none;
}

h2{
  color: black;
  padding: 10px;
}
.row{
  color:blueviolet ;
}
footer{
  color: black;
}